# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/

# SQLite database
notes.db

# IDE-specific files
.vscode/
.idea/

# Compiled CSS and JavaScript
static/*.css
static/*.js

# Logs
*.log

# Miscellaneous
*.swp
.DS_Store
